<center><h1>Edit Student</h1></center>
<div class="form-group container">
<%= form_with(model: @student, local: true) do |f| %>
    <strong><%= f.label :student %></strong>
    <%= f.text_field :student, class: "form-control", id: "exampleInputEmail1" %>
    <strong><%= f.label :address %></strong>
    <%= f.text_area :address, class: "form-control", id: "exampleInputEmail1" %>
    <p><center><%= link_to "Go Back", books_path, class: "btn btn-info" %>
    <%= f.submit class: "btn btn-danger" %></center></p>
<% end %> 
</div>  