 <center><h1>Books</h1></center>
   
 
 <table class="table container table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Synopsis</th>
      <th scope="col" colspan = "4">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.author %></td>
      <td><%= book.synopsis %></td>
      <td><%= link_to "Show", book_path(book), class:"btn btn-outline-success" %></td>
      <td><%= link_to "Edit", edit_book_path(book), class: "btn btn-outline-primary" %></td>
      <td><%= link_to "Delete", book_path(book), method: :delete, class:"btn btn-outline-danger", data: {confirm: "Are you sure?"} %></td>
      
    </tr>
    <% end %>
   </tbody>
   </table>

  <%= link_to "Add New Book", new_book_path(@books), class: "btn btn-dark" %>
   
  
   
